<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Dynamic Keys-->
    <!--
    <add key="UserName" value="sys_specsn"/>
    <add key="Password" value="bsnmtpr$NE42"/>
    -->
	<add key="UserName" value="sys_sct"/>
    <add key="Password" value="w31c0m3t0$ct"/>
	
    <add key="CurrentEnvironment" value ="Production"/>
    <!--<add key="CurrentEnvironment" value ="Preproduction"/>-->
    <!--<add key="CurrentEnvironment" value="Development" />-->
    
    <!--Dynamic Keys-->
    <add key="RequestProductionEndPointUrl" value="https://e2esm-int.intel.com/RequestFulfillment_v1.do?SOAP" />
    <add key="RequestPreProductionEndPointUrl" value="https://e2esm-test-int.intel.com/RequestFulfillment_v1.do?SOAP" />
    <!-- <add key="RequestPreProductionEndPointUrl" value="https://e2esm-sandbox-106.intel.com/RequestFulfillment_v1.do?SOAP" />-->
    <add key="RequestDevelopmentEndPointUrl" value="https://e2esm-dev-int.intel.com/RequestFulfillment_v1.do?SOAP" />
    <add key="IncidentProductionEndPointUrl" value="https://e2esm-dev-int.intel.com/IncidentManagement_v1.do?SOAP" />
    <add key="IncidentPreProductionEndPointUrl" value="https://e2esm-test-int.intel.com/IncidentManagement_v1.do?SOAP" />
    <add key="IncidentDevelopmentEndPointUrl" value="https://e2esm-dev-int.intel.com/IncidentManagement_v1.do?SOAP" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
   

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RequestFulfillment">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IncidentManagement">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RequestFulfillment1" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RequestFulfillment2" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e2esm-dev-int.intel.com/RequestFulfillment_v1.do?SOAP"
        binding="basicHttpBinding" bindingConfiguration="RequestFulfillment"
        contract="ServiceNowWsReference.RequestFulfillment" name="RequestFulfillment" />
      <endpoint address="https://ISMP_INSTANCE.intel.com/IncidentManagement_v1.do?SOAP"
        binding="basicHttpBinding" bindingConfiguration="IncidentManagement"
        contract="IncidentManagementServ.IncidentManagement" name="IncidentManagement" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>