<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCTService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <SCTService.Properties.Settings>
            <setting name="SCTService_CMMW_CMMWWS" serializeAs="String">
                <value>http://localhost/CMMW/CMMWWS.asmx</value>
            </setting>
            <setting name="SCTService_dsBroker_DSBroker" serializeAs="String">
                <value>http://dsbrokerws.intel.com/DSBroker.asmx</value>
            </setting>
        </SCTService.Properties.Settings>
    </applicationSettings>
    <appSettings>
       <add key="BulkJobEmailTemplatePath" value= "C:\Program Files (x86)\SCT\ServiceEmailTemplates"/>
       <add key="lyncOnlySubject" value= "Your request for a Skype SoftPhone is Ready"/>
       <add key="lyncCompanionSubject" value= "Your request for a Skype SoftPhone - Companion Mode is Ready"/>
       <add key="selfProvTicketSubject" value= "Your request for a Skype Softphone"/>
       <add key="DSBIncidentTicketSubject" value= "SCT is currently experiencing problems!!!"/>
  </appSettings>
</configuration>
