<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SearchBase" value="LDAP://CN=Sites,CN=Configuration,DC=corp,DC=intel,DC=com"/>
		<add key="AppLogFile" value="AppLog.log"/>
		<add key="OutputFile" value="SiteCoverage.tmp"/>
		<add key="SiteCoveFile" value="SiteCoverage.xml"/>
                <add key="SiteExclusionSuffixes" value ="-DECOM-EMEA;-DECOM-SEA;-DECOM-RUSSIA;-DECOM;-RADAR;-Staging;-FAB12;-FAB17;-FAB14;-FAB20;-FABRF2;-FAB21;-FABRF3;-FAB24;-ATD;-ATM;-TIC;-IMO;-A7T7;-FAB32;-FAB28;-FAB68;-Exchange;-CAS;-FSMO;-SCADA"/>
                <add key="dcHostnameExclusionPattern" value="^[a-z0-9\-]{0,}\-r[a-z0-9\-]{0,}\."/>
	</appSettings>
</configuration>
