<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SCT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="dsBrokerUser" value="sys_cmcc"/>
    <add key="dsBrokerPasswd" value="Kte@M5ce"/>
    <add key="authorizedKillingUsers" value="mafonse1;sys_uce_cisco;kgellis;solsen1;amathew;slp;ad_slp;ad_amathew;ad_kgellis"/>
    <add key="owin:AutomaticAppStartup" value="false" /><!--added to avoid owin error message when deploying on IIS-->
  <!--Anoj Available number Hire to retire changes BOC-->
    <add key="AvailNumberFQDN" value="hiretoretire.intel.com"/>
    <!--Anoj Available number Hire to retire changes EOC-->      
  </appSettings>
  
  <applicationSettings>
    <SCT.Properties.Settings>
      <setting name="SCT_dsBroker_DSBroker" serializeAs="String">
        <value>http://dsbrokerws.intel.com/DSBroker.asmx</value>
      </setting>
      <setting name="SCT_cmmw_CMMWWS" serializeAs="String">
        <value>http://localhost/CMMW/CMMWWS.asmx</value>
      <!--<value>http://fms-gnm-sctutil.amr.corp.intel.com/cmmw/cmmwws.asmx</value>-->
      </setting>
    </SCT.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>