<body style='font-family: Verdana, sans-serif;'><p><strong>ACTION REQUIRED</strong></p><br /><br />
<h2 style='color:#0071c5;'>Begin using Skype Softphone as a companion to your desk phone</h2>
<strong>Skype Softphone</strong> – <strong>Companion Model</strong> is now available for your use.  The Skype Softphone Companion Model allows you to use your Skype Softphone as a fully functional telephone application while keeping your Cisco* desk phone. You can make and receive calls from Skype or your desk phone.
<h3>Important steps to get started</h3>
<ol>
<li>If you don’t have a USB headset, you will need one. There are a number of headset options for style, comfort, use case and budget. For a full list of options <a href='http://technet.microsoft.com/en-us/lync/gg278173'>click here</a> for models. Currently this is a department expense and an individual should follow their department or site purchasing instructions.</li>
<li>Upgrade your WLAN to the <a href='http://goto.intel.com/LyncQoS'>latest version</a>. It should only take a couple minutes. </li>
<li>More information can be found on the <a href='http://wiki.ith.intel.com/x/9IPPBw'>Skype Softphone Training page</a>.</li>
</ol>
<h3>Note to Cisco Softphone users</h3>
<p>After Skype Softphone is installed, you should uninstall Cisco SoftPhone on your PC. To do so, go to <strong>Control Panel > Uninstall program > Cisco IP Communicator</strong> and uninstall.</p>
<h3>Important steps to get started</h3>
<ol>
<li>If you do not already have Skype installed on your PC, do so now: <a href='http://iss.intel.com/ProductInfo/TabProductInfo.asp?Product=10270&CanInstall=0'>Lync ISS Install</a>.</li>
<li>You will need a USB headset. If you do not have one, you can retrieve one at <a href='http://wiki.ith.intel.com/x/GID6C'>these locations</a>.</li>
<li>More information can be found on the <a href='http://wiki.ith.intel.com/x/9IPPBw'>Skype Softphone training page</a>.</li>
<li>You will need to perform this one-time set up to enable Skype Softphone and your desk phone to work together. It’s called Simultaneous Ring:
<ol type='a'>
<li>Open your Skype Communicator* window.</li>
<li>Click <strong>Options</strong> -- in the upper right side, it’s the symbol that looks like a wheel.</li>
<li>Click on the <strong>Down</strong> arrow.</li>
<li>Go to <strong>Tools</strong> and select <strong>Call Forwarding Settings</strong>.</li>
<li>e.	Select the <strong>Simultaneously Ring</strong> radio button. From the drop-down box, select your iNet number (8+seven digit phone number). Important! Be sure you are using this format.</li>
</ol></li>
</ol>
<h3>Data Storage</h3>
<p>Just like our traditional phone system, we collect basic information about your calls such as the number you called, the number of the person calling you, and the length of the call. This data will be stored in a database in the US for one year. A restricted set of employees will have access to your Skype call history for the purpose of troubleshooting and traffic flow analysis.</p>
<p>For additional assistance or if you have questions, please contact the Technical Assistance Center (TAC). If you call, use Fast Path Code 974 for Telecom. You also can chat with an analyst, perform a search, or submit a service request at the <a href='http://it.intel.com/'>TAC website</a>.</p>
<h3>Additional Information</h3>
<p><a href='https://iref.intel.com/GetDoc.aspx?RefLibObjectID=0902007c8004662f'>IT Phone and Headset Policy</a></p>
<p><a href='http://it.intel.com/products/lyncsoftphone/Pickup.htm'>Skype Softphone Phone Collection Request</a></p>
<table style='background:#ddd;width:100%;'><tbody><tr><td style='width:50%;'><a href='mailto:IT.Phone.service.communications@intel.com?subject=Feedback%20on%20Skype%20Softphone'>Feedback</a></td><td style='width:50%;text-align:right;'><a href='http://tac.intel.com/'>Technical Assistance Center (TAC)</a> | <a href='http://it.intel.com/'>IT.intel.com</a> | <a href='http://it.intel.com/digitaledge/'>Digital Edge</a></td></tr></tbody></table>
<table style='width:100%;'><tbody><tr><td style='font-size:xx-small;width:50%'>Intel Corporation. All rights reserved.<br /><a href='http://www.intel.com/sites/corporate/tradmarx.htm'>*Legal Information</a> | <a href='http://www.intel.com/sites/corporate/privacy.htm'>Privacy Policy</a><br />*Other names and brands may be claimed as the property of others.<br />**Intel is not responsible for content of sites outside our intranet.</td><td style='width:50%;text-align:right;vertical-align:top;'><strong>Intel Confidential</strong></td></tr></tbody></table></body>