<h2 style='color:#0071c5;'>Skype Self-Provisioning Error</h2><br />
<p>An error was encountered during the Skype Self-Provisioning process you submitted. A TAC ticket {0} has been opened on your behalf and an agent will contact you within two business days.</p>
<p>We apologize for any inconvenience.</p>
<table style='background:#ddd;width:100%;'><tbody><tr><td style='width:50%;'><a href='mailto:IT.Phone.service.communications@intel.com?subject=Feedback%20on%20Skype%20Softphone'>Feedback</a></td><td style='width:50%;text-align:right;'><a href='http://tac.intel.com/'>Technical Assistance Center (TAC)</a> | <a href='http://it.intel.com/'>IT.intel.com</a> | <a href='http://it.intel.com/digitaledge/'>Digital Edge</a></td></tr></tbody></table>
<table style='width:100%;'><tbody><tr><td style='font-size:xx-small;width:50%'>Intel Corporation. All rights reserved.<br /><a href='http://www.intel.com/sites/corporate/tradmarx.htm'>*Legal Information</a> | <a href='http://www.intel.com/sites/corporate/privacy.htm'>Privacy Policy</a><br />*Other names and brands may be claimed as the property of others.<br />**Intel is not responsible for content of sites outside our intranet.</td><td style='width:50%;text-align:right;vertical-align:top;'><strong>Intel Confidential</strong></td></tr></tbody></table></body>